# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

# https://www.cnblogs.com/lyq863987322/p/8074749.html

[mysql]
default-character-set=utf8


[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove the leading "# " to disable binary logging
# Binary logging captures changes between backups and is enabled by
# default. It's default setting is log_bin=binlog
# disable_log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#
# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
# default-authentication-plugin=mysql_native_password
server-id=1
port=3306
# default_authentication_plugin=mysql_native_password
authentication_policy=mysql_native_password

# basedir=/opt/mysql/
# tmpdir=/opt/mysql/tmp

# # datadir=/var/lib/mysql
# datadir=/opt/mysql/data

socket=/var/run/mysqld/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid

log_bin_trust_function_creators=ON
log_error=/var/log/mysql/mysql-error.log

general_log=ON
general_log_file=/var/log/mysql/mysql.log

log-bin=/var/log/mysql/mysql-bin
binlog_format=row
binlog_row_image=full
binlog_order_commits=ON
expire_logs_days=90
# binlog_checksum=CRC32
binlog_cache_size=1M
# binlog_stmt_cache_size=32768
max_binlog_cache_size=18446744073709547520
max_binlog_stmt_cache_size=18446744073709547520
binlog_rows_query_log_events=OFF

slow_query_log=ON
log_slow_admin_statements=OFF
slow_query_log_file=/var/log/mysql/slow.log
slow_launch_time=2
long_query_time=10
back_log=3000


table_open_cache=2048
max_allowed_packet=1073741824
max_heap_table_size=67108864
tmp_table_size=16M
read_buffer_size=2M
read_rnd_buffer_size=8M
sort_buffer_size=8M
join_buffer_size=8M
## query_cache_size=16M
##query_cache_limit=3M
key_buffer_size=40M
# # thread_cache_size=16
ft_min_word_len=4
transaction_isolation=REPEATABLE-READ

performance_schema=0
explicit_defaults_for_timestamp
skip-external-locking


default_storage_engine=INNODB
innodb_file_per_table=1
innodb_open_files=500
# # innodb_buffer_pool_size=64M
# # innodb_buffer_pool_size=256M
innodb_write_io_threads=4
innodb_read_io_threads=4
innodb_thread_concurrency=0
innodb_purge_threads=1
innodb_flush_log_at_trx_commit=2
innodb_log_buffer_size=2M
innodb_log_file_size=32M
innodb_log_files_in_group=3
innodb_max_dirty_pages_pct=90
innodb_lock_wait_timeout=50
bulk_insert_buffer_size=8M

myisam_sort_buffer_size=8M
myisam_max_sort_file_size=10G
myisam_repair_threads=1
interactive_timeout=28800
wait_timeout=28800

# # default_time_zone=SYSTEM
default_time_zone="+8:00"
lower_case_table_names=1
# # lower_case_file_system=1
# # default-character-set=utf8
character_set_server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
collation_server=utf8mb4_0900_ai_ci
init_connect='SET NAMES utf8mb4'
init_connect='SET collation_connection = utf8mb4_unicode_ci'
skip-character-set-client-handshake
# skip-name-resolve

secure-file-priv=NULL
symbolic-links=0


# sql_mode=STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION


[client]
default-character-set=utf8
socket=/var/run/mysqld/mysql.sock

[mysql.server]
user=mysql


[mysqldump]
quick
# max_allowed_packet=16M

[myisamchk]
key_buffer_size=8M
sort_buffer_size=8M
read_buffer=4M
write_buffer=4M 
