#center-wrapper {
    margin: 1.5em 0;
}

#footer-wrapper {
    margin-top: 1.5em;
}

.word {
    font-weight: bold;
}

.btn {
    color: white;
    background: dodgerblue;
    border: 0 ;
    padding: 0.4em 1em;
}

.result {
    color: dodgerblue;
}

.result-num {
    color: orange;
}
